@charset "UTF-8";
/**
    Author: Rifat Bhuiya
    Author email: hello.rifatbhuiya@gmail.com
    Version: 0.0.0.1
**/

/**
----------------
Table Of Content
----------------
0. Common CSS Start
1. Preloader CSS start
2. Backtotop CSS start
3. Responsive Navbar CSS start
4. Navbar CSS start
5. Main Wrapper CSS start
6. Footer CSS Start
**/

/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

b {
  font-weight: 700;
}

img,
svg {
  vertical-align: middle;
}

body {
  overflow-x: hidden;
  background-color: #dddddd;
}

.main_wrapper_content_description,
.main_wrapper_content_layout,
.main_wrapper_content_faq,
.main_wrapper_content_source,
.main_wrapper_content_support {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.title {
  color: #252b33;
  line-height: 1.5;
  font-size: 35px;
  font-weight: 400;
  padding-top: 85px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  padding-bottom: 10px;
}

.paragraph {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

/* Preloader CSS Start */
#loader {
  position: fixed;
  background-color: #252b33;
  z-index: 99998;
  height: 100%;
  width: 100%;
}

@keyframes loader {
  0% {
    left: -100px
  }

  100% {
    left: 110%;
  }
}

#box {
  width: 50px;
  height: 50px;
  background: #0E44CF;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  z-index: 99999;

}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

#shadow {
  width: 50px;
  height: 5px;
  background: #fff;
  opacity: 0.1;
  position: absolute;
  top: 56%;
  left: 50%;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
  -webkit-animation: shadow .5s linear infinite;
}

@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}

/* Backtotop CSS Start */

.backtotop i {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  color: white;
  background-color: #0E44CF;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  display: none;
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.backtotop i:hover {
  background-color: white;
  color: #0E44CF;
}

/* Responsive Navbar CSS start */
.responsive_navbar {
  background-color: white;
  border-bottom: 1px solid #efefef;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 99985;
}

.responsive_navbar_logo a img {
  width: 100%;
}

.responsive_navbar_btn a i {
  font-size: 25px;
  color: #0E44CF;
}
.offcanvas{
  padding-top: 60px;
}

.offcanvas-start {
  width: 55%;
}

.offcanvas-body {
  padding: 30px 0 0 0;
}

.responsive_navbar_item ul li a {
  color: #4c4d4d;
  text-transform: capitalize;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.responsive_navbar_item ul li a.active {
  color: #0E44CF;
}

/* Navbar CSS start */
.main_nav {
  position: fixed;
  width: 100%;
  z-index: 1500;
}

.main_nav_bg {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #efefef;
  padding: 5px 30px;
}

.main_nav .logo img {
  width: 25%;
}

.main_nav ul li a {
  color: black !important;
  text-transform: capitalize;
}

.main_nav ul li a {
  margin-left: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-family: "Poppins", serif;
  text-transform: capitalize;
  font-weight: 400;
}

.main_nav ul li a:hover {
  color: #0E44CF !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.main_nav ul .navbar_social a i {
  margin-left: 5px;
}

/* Main Wrapper Menu CSS start */
.main_wrapper {
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  position: relative;
}

.main_wrapper_menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  background-color: #efefef;
  padding: 40px 0 0 40px;
  position: sticky;
  top: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.main_wrapper_menu ul {
  position: sticky;
  top: 40px;
}

.main_wrapper_menu ul li {
  margin-bottom: 5px;
}

.main_wrapper_menu ul li a {
  color: black;
  font-weight: 500;
  font-family: "Poppins", serif;
  font-size: 17px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-transform: capitalize;
}

.main_wrapper_menu ul li a.active {
  color: #0E44CF;
  font-weight: 600;
}

.main_wrapper_menu ul li a:hover {
  color: #0E44CF;
  font-weight: 600;
}

/* Main Wrapper Menu CSS start */
.main_wrapper_content {
  background-color: white;
  padding: 65px 65px 0 65px;
}

.main_wrapper_content_heading h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.main_wrapper_content_author_name a b {
  color: black;
}

.main_wrapper_content_faq .accordion {
  margin-top: 35px;
}

.main_wrapper_content_faq .accordion .accordion-item {
  margin: 20px 0 20px 0;
}

.main_wrapper_content_faq .accordion h6 button {
  background-color: #f1f2f4;
  color: #4c4d4d;
  padding: 25px 18px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.main_wrapper_content_faq .accordion h6 button:hover {
  background-color: #0E44CF !important;
  color: white !important;
}

.main_wrapper_content_faq .accordion h6 button:focus {
  box-shadow: none;
  background-color: #0E44CF !important;
  color: white !important;
}

.main_wrapper_content_source_item {
  padding-top: 35px;
}

.main_wrapper_content_source_item h6 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.main_wrapper_content_source_item ul li {
  list-style-type: square;
  margin-top: 5px;
}

.main_wrapper_content_source_item ul li p {
  font-size: 18px;
}

.main_wrapper_content_item a {
  color: #252b33;
  line-height: 24px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}

.main_wrapper_content_item a:hover {
  text-decoration: underline;
}

/* Footer CSS Start */
footer {
  padding: 66px 0;
  text-align: center;
}

.footer_social ul li a {
  color: #aab1b8;
  font-size: 25px;
  margin: 0 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_social ul li a:hover {
  color: #0E44CF;
  transform: scale(1.2) translateY(-5px);
  -webkit-transform: scale(1.2) translateY(-5px);
  -moz-transform: scale(1.2) translateY(-5px);
  -ms-transform: scale(1.2) translateY(-5px);
  -o-transform: scale(1.2) translateY(-5px);
}

.footer_copyright p {
  color: rgba(250, 250, 250, 0.8);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding-top: 15px;
}

.footer_copyright p a:hover {
  text-decoration: underline;
  color: #0E44CF;
}